@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--color-1: #222222;
	--color-2: #ffffff;
	--color-3: #444444;
	--color-4: #68f8ff;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
    width: 100vw;
}

/* header start */
header {
    background-color: var(--color-1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1::before {
    content: 'Front-end';
    position: absolute;
    display: flex;
    z-index: -1;
    transform: rotate(-30deg) scale(1.5) translate(0rem, 0rem);
    margin-top: -3rem;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333333;
    
}
header h1 {
    color: var(--color-2);
    margin: 35vh 0 0 2rem;
    font-size: 3rem;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 900;
    z-index: 1;
}
header h1::after {
    content: 'Web Developer';
    position: absolute;
    display: flex;
    z-index: -1;
    transform: rotate(-30deg) scale(1.5) translate(7rem, -6rem);
    margin-top: 3rem;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333333;
}
header h1 span {
    z-index: 1;
    color: var(--color-3);
}
.titik {
    color: var(--color-4)
}
/* nav start */

a {
	color: rgb(0,100,200);
	text-decoration: none;
}
nav {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    position: fixed;
    z-index: 5;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 .5rem 0 0;
}
li a {
    color: var(--color-2);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
}
li a:hover {
    text-decoration: none;
}
.navbar__items {
    background-color: var(--color-1);
    opacity: 0;
    height: 0;
    width: 100vw;
    z-index: 2;
    /* display: none; */
    transition: all .3s;
}
.navbar__items ul {
    width: 100%;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hamburger__menu {
    width: 100%;
    height: 100%;
}
.hamburger__box {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    z-index: 999;
    display: inline-block;
    cursor: pointer;
    margin: .5rem 2rem 0 0;
    opacity: 0;
}
.hamburger__line__box {
    z-index: 5;
    display: inline-flex;
    cursor: pointer;
    margin: .5rem 2.6rem 0 0;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-end;
    width: 2rem;
    height: 2rem;
    justify-content: space-evenly;
}

.hamburger__line__1 {
    width: 100%;
    height: .25rem;
    display: flex;
    background-color: var(--color-2);
    transition: all .3s;
}
.hamburger__line__2 {
    width: 80%;
    height: .25rem;
    display: flex;
    background-color: var(--color-2);
    transition: all .3s;
}
.hamburger__line__3 {
    width: 60%;
    height: .25rem;
    display: flex;
    background-color: var(--color-2);
    transition: all .3s;
}
.show {
    display: flex;
    /* position: absolute; */
    opacity: 1;
    height: 100vh;
}
.length {
    width: 100%;
}
/* nav end */

/* Responsive Breakpoint */
/* Desktop */
@media screen and (min-width: 1365px) {
    header h1 {
        margin-top: 40vh;
        font-size: 5rem;
    }

    .navbar__items {
        opacity: 1;
    }
    .navbar__items ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .hamburger__box {
        display: none;
    }
    .hamburger__line__box {
        display: none;
    }
    ul li a {
        margin: 0 2.5rem 0 0;
        border-left: 1px solid var(--color-2);
        border-top: 1px solid var(--color-4);
        padding: .4rem;
        transition: all .3s;
        font-weight: 700;
        background-color: var(--color-3);
    }
    ul li a:hover {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-left: 5px solid var(--color-4);
        border-top: 5px solid var(--color-2);
    }
}

/* Tablet */
@media screen and (min-width: 767px) {
    
}
