

/* header start */


/* nav end */

/* Responsive Breakpoint */
/* Desktop */
@media screen and (min-width: 1365px) {
    header h1 {
        margin-top: 40vh;
        font-size: 5rem;
    }

    .navbar__items {
        opacity: 1;
    }
    .navbar__items ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .hamburger__box {
        display: none;
    }
    .hamburger__line__box {
        display: none;
    }
    ul li a {
        margin: 0 2.5rem 0 0;
        border-left: 1px solid var(--color-2);
        border-top: 1px solid var(--color-4);
        padding: .4rem;
        transition: all .3s;
        font-weight: 700;
        background-color: var(--color-3);
    }
    ul li a:hover {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-left: 5px solid var(--color-4);
        border-top: 5px solid var(--color-2);
    }
}

/* Tablet */
@media screen and (min-width: 767px) {
    
}
