.about {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 1rem;
    align-items: center;
    flex-direction: column;

    .img__profile {
        width: 50%;
        height: 100%;
        padding: .5rem 0 0 .5rem;
        border-left: 1px solid;
        border-top: 1px solid;
        margin: .5rem;
    }
    .resume {

        padding: .5rem;

        p {
            font-size: .875rem;
            text-align: justify;
        }
        
        .skills {

            ul {
                display: inline-flex;
                flex-direction: row;
                flex-wrap: wrap;

                li  {
                    list-style: none;
                    margin: .15rem;
                    padding: .25rem;
                    background-color: #222222;
                    color: #ffffff;
                    font-size: .75rem;
                    border-radius: .25rem;
                }
            }

        }
        
    }
}