@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color-1: #222222;
$color-2: #ffffff;
$color-3: #444444;
$color-4: #68f8ff;

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
    width: 100vw;
}

@import 'header';
